@model TransaccionesDetalladas
@{
    ViewData["Title"] = "Transacciones";
}

<partial name="_SubMenu" model="SubMenuTransacciones.Diario"></partial>
<h1>Transacciones</h1>
<hr />
<h5>Se refiere a las transacciones</h5>

<div class="mb-3">
    <a asp-action="Crear" class="btn-primary btn">Crear</a>
</div>
<partial name="_NavegarMeses" model="Model.FechaInicio"></partial>
<partial name="_ReporteTransaccionesDetalladas" model="Model"></partial>