@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Logearse</h1>


<div class="card">
    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form id="form1" asp-controller="Usuarios">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>        
                <span asp-validation-for="RememberMe" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" asp-action="Login">Logarse</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}
