@model TransaccionesDetalladas
@{
    ViewData["Title"] = "Movimientos cuentas";
}

<h1>Movimientos @ViewBag.Cuenta</h1>
<hr />

<partial name="_NavegarMeses" model="Model.FechaInicio"></partial>

<partial name="_ReporteTransaccionesDetalladas" model="Model"></partial>